
#speaker-text {
  padding: 2px;
  font-size: 18px;
}

.claire-speaker{
  position: relative;
  height: 25px;
  min-width: 50px;
  width: 120px;
  z-index: 2000;
  overflow:visible;
  top: -10px;
  left: -10px;
  opacity: 0.9;
  border: solid purple;
  background-color: darkorchid;
}

.ghost-speaker{
  position: relative;
  height: 25px;
  min-width: 50px;
  width: 120px;
  z-index: 2000;
  overflow:visible;
  top: -10px;
  left: -10px;
  opacity: 0.9;
  border: solid mediumseagreen;
  background-color: seagreen;
}
