div#speaker {
  position: relative;
  border: solid GoldenRod    2px;
  background-color: Gold  ;
  height: 25px;
  min-width: 50px;
  width: 120px;
  z-index: 2000;
  overflow:visible;
  top: -10px;
  left: -10px;
  opacity: 0.9;
}

#speaker-text {
  padding: 2px;
}
