div.boss-ui-wrap {
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  div#boss-name {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -10px;
    font-size: 60px;
    color: white;  
  }


    div#boss-titles ul {
        list-style: none;
        padding: 0;
        position: relative;
        top: -30px;
    }
    div#boss-titles li {
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
        color: white;  
    }

  div.boss-health-container {
    width: 600px;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
  }

  div.bar-background {
    height: 30px;
    width: 600px;
    background: black;
    border: solid black 2px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}
  
  div.boss-health-bar {
      height: 30px;
      width: 15%;
      border: solid black 2px;
      border-radius: 10px;
      overflow: hidden;
      top: -35px;
      position: relative;
      z-index: 1;
  }

  #highHealth {
    background: rgb(15,87,13);
    background: linear-gradient(0deg, rgba(15,87,13,1) 0%, rgba(58,255,0,1) 100%);
  }

  #midHealth {
    background: rgb(255,153,0);
    background: linear-gradient(0deg, rgba(255,153,0,1) 0%, rgba(255,252,0,1) 100%);
  }

  #lowHealth {
    background: rgb(99,4,4);
    background: linear-gradient(0deg, rgba(99,4,4,1) 0%, rgba(255,0,0,1) 100%);
  }

  #boss-icon {
    z-index: 1;
    position: relative;
    top: -4px;
  }

      div#low.boss-health-bar {
          background: rgb(62,5,5);
          background: linear-gradient(0deg, rgba(62,5,5,1) 0%, rgba(255,0,0,1) 100%);
      }
      div#mid.boss-health-bar {
          background: rgb(190,101,10);
          background: linear-gradient(0deg, rgba(190,101,10,1) 0%, rgba(231,255,0,1) 100%);
      }
      div#high.boss-health-bar {
          background: rgb(5,48,4);
          background: linear-gradient(0deg, rgba(5,48,4,1) 0%, rgba(10,255,0,1) 100%);
      }