.error {
    padding-top: 10px;
    background-color: black;
    text-align: left;
}

.error ul {
    padding-left: 10px;
    font-size: 18px;
    font-family: "Lucida Console", Monaco, monospace;
}

.error li {
    padding-top: 5px;
}
.message-show {
    color: red;
    list-style: none;
}

#underscore {
    animation-name: flash;
    animation-duration: 1000ms;
    animation-iteration-count:infinite;
}
    @keyframes flash {
      from { color: black;}
      to   { color: red;}
    }

.message-hide {
    color: black;
}