div#popup-wrap {
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 10%;
    overflow: auto;
  }
  div#popup-content {
    margin: 10% auto;
    margin-top: 200px;
    width: 70%;
    height: 30px;
    opacity: 0.9;
  }

  #popup-text {
    position: relative;
    top: 3px;
    font-size: 18px;
  }

  .popup-button-prompt {
    background-color: slateblue;
    color: black;
    padding: 1px;
    box-shadow: 2px 2px 2px darkslategray;
    animation: button 2s infinite;
  }

  .normal{
    color: white;  
    background: rgb(242,122,6);
    background: linear-gradient(90deg, rgba(242,122,6,0) 0%, rgba(246,161,6,0.892528328611898) 30%, rgba(247,112,6,1) 50%, rgba(246,161,6,0.892528328611898) 70%, rgba(0,212,255,0) 100%);
  }

  .key1{
    color: orangered;
    background:rgba(255,249,0,1);
    background: linear-gradient(90deg, rgba(167,1,1,0) 0%, rgba(250,234,0,1) 30%, rgba(255,249,0,1) 50%, rgba(252,250,0,1) 70%, rgba(241,255,0,0) 100%);
  }

  .key2{
    color: darkslateblue;
    background: rgba(0,238,255,1);
    background: linear-gradient(90deg, rgba(167,1,1,0) 0%, rgba(0,238,255,1) 30%, rgba(0,238,255,1) 50%, rgba(0,238,255,1) 70%, rgba(241,255,0,0) 100%);
  }


  