div#selected {
  background: rgb(242,122,6);
  background: linear-gradient(90deg, rgba(242,122,6,0) 0%, rgba(246,161,6,0.892528328611898) 30%, rgba(247,112,6,1) 50%, rgba(246,161,6,0.892528328611898) 70%, rgba(0,212,255,0) 100%);
  color: white; 
}
  .selectedFile h4 {
    color: white;
  }

div#selectedFile {
  border: solid 3px lightblue;
}
.selectScreen h2, h4 {
  color: black;
}

div.selectScreen {
  border: solid white 2px;
  border-radius: 5px;
  background: rgb(239,231,238);
  background: linear-gradient(0deg, rgba(239,231,238,1) 0%, rgba(189,172,209,1) 100%);
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

div.select-wrap {
  background-color: black;
  min-width: 800px;
}

img#branch {
  position: absolute;
  left: 0;
  top: 144px;
  z-index: 1;
}

img#branch-exit {
  position: absolute;
  right: 0;
  top: 144px;
  z-index: 1;
}

div.file {
  border-radius: 5px;
  display: inline-block;
  height: 60px;
  width: 50%;
  margin: 15px;
  color: black;
  background: rgb(35,170,173);
  background: linear-gradient(0deg, rgba(35,170,173,1) 0%, rgba(77,80,128,1) 100%);
  text-align: left;
  padding: 10px;
  position: relative;
  z-index: 2;
  box-shadow: 5px 5px 5px #aaaaaa
}

div.file#selectedFile {
  border: solid white 1px;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(140,177,219,1) 100%);
}

div.file#deleteFile {
  border: solid black 1px;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 100%);
}

div.file#copyFile {
  background: rgb(235,89,12);
  background: linear-gradient(0deg, rgba(235,89,12,1) 0%, rgba(255,217,0,1) 100%);
}

div.file#copyToFile {
  background: rgb(235,89,12);
  background: linear-gradient(0deg, rgba(235,89,12,1) 0%, rgba(255,217,0,1) 100%);
}

.button-prompt {
  background-color: slateblue;
  color: black;
  padding: 1px;
  box-shadow: darkslateblue 3px 3px;
  position: relative;
}

  