div#wrap {
  position: relative;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 10%;
  overflow: auto;
}

div#box-content {
  background-color:DarkOrange ; 
  border: 3px solid GoldenRod  ; 
  width: 70%;
  min-width: 700px;
  height: 100px;
  opacity: 0.9;
  margin: 10% auto;
  margin-top: 480px;
}

div.special {
  background-color: whitesmoke !important;
  border: 3px solid slategrey !important;
}
  div.special span.next-button-prompt {
    border: solid lightgray 1px;
    padding: 1px; 
  }
  div.special div.next-prompt {
    padding-top: 15px;
    color: lightgray;
  }

div#text {
  position: relative;
  margin-top: 25px;
  font-size: 21px;
}

div#dialogueText {
  position: relative;
  top: -10px;
  margin-top: 10px;
  font-size: 23px;
}

.next-button-prompt {
  border: solid gold  1px;
  padding: 1px; 
}

.next-prompt {
  position: relative;
  color: gold ; 
  float: right;
  top: 70px;
}

.claire-color{
  border: solid purple !important;
  background-color: plum !important;
}

.ghost-color{
  border: solid mediumseagreen !important;
  background-color: darkseagreen !important;
}

.dark-color{
  color: white !important;
  border: solid black !important;
  background-color: black !important;
}
