div.game {
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: black;
  overflow: none;
}

div#level {
  padding-top: 40px;
}

div#pause {
  -webkit-filter: blur(5px);
  filter: blur(5px) grayscale(100%) sepia(100%) hue-rotate(130deg);
  text-align: center;
  background-color: black;
}

div#loading {
  height: 600px;
  width: 600px;
  text-align: center;
  background-color: black;
}


@keyframes fade {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

div#enter {
  animation: fadeIn 4000ms;
}

div#exit {
  animation: fade 6000ms;
}
