div.game {
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: black;
  overflow: none;
}

div#level {
  padding-top: 40px;
}

div#pause {
  -webkit-filter: blur(5px);
  filter: blur(5px) grayscale(100%) sepia(100%) hue-rotate(130deg);
  text-align: center;
  background-color: black;
}

div#ui-pause {
  position: relative;
  z-index: 1000;
  -webkit-filter: blur(5px);
  filter: blur(5px) grayscale(100%) sepia(100%) hue-rotate(130deg);
}

div#loading {
  height: 600px;
  width: 600px;
  text-align: center;
  background-color: black;
}

.glitch {
  animation-iteration-count:infinite;
  animation-name: glitch-effect;
  animation-duration: 400ms;
}
  @keyframes glitch-effect {
    0%  {opacity: 1; margin-left: 20px;}
    25%  {opacity: 0;}
    50%  {opacity: 1; filter: hue-rotate(90deg); margin-left: 40px;}
    75%  {opacity: 0;}
    100%  {opacity: 1; margin-left: 20px;}
  }

@keyframes fade {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

div#enter {
  animation: fadeIn 4000ms;
}

div#exit {
  animation: fade 6000ms;
}
