div#doorNorth {
  z-index: 500;
  position: absolute;
  bottom: -3px;
}

div#doorEast {
  z-index: 500;
  position: absolute;
  bottom: -4px;
  left: 1px;
}

div#doorSouth {
  z-index: 500;
  position: absolute;
  bottom: 5px;
  left: -1px;
}

div#doorWest {
  z-index: 500;
  position: absolute;
  bottom: -4px;
  left: -8px;
}
