div#item {
  z-index: 500;
  position: absolute;
  bottom: 5px;
  left: 2px;
}

.item-float {
  animation-name: float;
  animation-duration: 3s;
}

@keyframes float {
  0%  {bottom: 40px;}
  30%  {bottom: 30px;}
  60%  {bottom: 20px;}
  90%  {bottom: 10px;}
}
