
div#UI-content {
  background-color: steelblue;
  color: black;
  text-align: center;
  z-index: 10;
  display: inline-block;
  width: 600px;

  border-radius: 5px;
  height: 60px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 5px;
}

#hp-bar {
  position: absolute;
  margin-top: 15px;
  left: -18px;
}

#weapon {
  position: absolute;
  left: 0;
  right: 12%;
  margin: auto;
  display: block;
  margin-top: 10px;
  height: 35px;
  width: 40px;
  border: solid black 1.5px;
  border-radius: 5px;
  padding-bottom: 10px;
  background-color: cadetblue;
}

#skill {
  position: absolute;
  left: 10.5%;
  right: 0;
  margin: auto;
  display: block;
  margin-top: 6px;
  height: 35px;
  width: 40px;
  border-radius: 5px;
  border: solid black 1.5px;
  padding-bottom: 10px;
  background-color: cadetblue;
}

#current-skill {
  padding-top: 5px;
}

#current-weapon {
  padding-top: 6px;
  padding-left: 2px;
}

img {
  position: relative;
  bottom: 10px;
}

#selected-items {
  position: absolute;
  left: 235px;
  top: 0.5px;
  z-index: 10;
}

#entangle-bar {
  position: absolute;
  right: -5%;
}

#heart-icon {
  position: absolute;
  left: -80%;
  top: -6%;
}

#particle-icon {
  position: absolute;
  right: -140%;
  top: -1%;
}

#particle-percentage {
  color: black;
  z-index: 10;
  position: absolute;
  left: -235px;
  top: 20px;
  font-weight: bold;
}

#mp {
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 0;
}

.single-digit {
  padding-left: 4px;
}






