div.sprite{
  z-index: 100;
  position: absolute;
  bottom: 15px;
  right: -13px;
  break-inside: avoid;
}

div.background-sprite{
  z-index: 100;
  position: absolute;
  break-inside: avoid;
  bottom: 5px;
}

div.dark-sprite{
  z-index: 100;
  position: absolute;
  bottom: 15px;
  right: -13px;
  break-inside: avoid;
  filter: hue-rotate(230deg);
}

div.split-player1{
  z-index: 100;
  position: absolute;
  bottom: 15px;
  right: -13px;
  break-inside: avoid;
  opacity: 0.8;
  filter: hue-rotate(300deg);
}

div.split-player2{
  z-index: 100;
  position: absolute;
  bottom: 15px;
  right: -13px;
  break-inside: avoid;
  opacity: 0.8;
  filter: hue-rotate(150deg);
}

div.boss-sprite {
  z-index: 110;
  position: absolute;
  break-inside: avoid;
  bottom: -50px;
  right: -8px;
}

div.hurt-boss-sprite {
  z-index: 110;
  position: absolute;
  break-inside: avoid;
  bottom: -50px;
  right: -8px;
  animation-name: hurt;
  animation-duration: 2s;
}
  @keyframes hurt {
    0%  {filter: hue-rotate(150deg);}
    15%  {filter: hue-rotate(0deg);}
    30%  {filter: hue-rotate(150deg);}
    45%  {filter: hue-rotate(0deg);}
    60%  {filter: hue-rotate(150deg)}
    70%  {filter: hue-rotate(0deg)}
    85%  {filter: hue-rotate(150deg);}
    100%  {filter: hue-rotate(0deg);}
  }

div#fall{
  top: -20px; 
  animation-name: fall;
  animation-duration: 2s;
}
  @keyframes fall {
    0%  {transform: rotate(20deg) scale(1.0);}
    25%  {transform: rotate(40deg) scale(0.5);}
    50%  {transform: rotate(60deg) scale(0.0);}
    75%  {transform: rotate(80deg) scale(-0.5);}
  }

div#transparent{
  opacity: 0.8;
}

div#spriteFadeIn{
  animation-name: spriteFade;
  animation-duration: 3s;
  opacity: 0.8;
}
  @keyframes spriteFade {
    from { opacity: 0; }
    to   { opacity: 0.8; }
  }

div#powerUp {
  animation-name: rise;
  animation-duration: 1500ms;
}
  @keyframes rise {
    from { margin-bottom: 0;}
    to   { margin-bottom: 30px;}
  }

div#powerDown {
  animation-name: sink;
  animation-duration: 1500ms;
}
  @keyframes sink {
    from { margin-bottom: 30px;}
    to   { margin-bottom: 0;}
  }

div#float {
  margin-bottom: 30px;
}





