div.sprite{
  z-index: 100;
  position: absolute;
  bottom: 15px;
  right: -13px;
  break-inside: avoid;
}

div.split-player{
  z-index: 100;
  position: absolute;
  bottom: 15px;
  right: -13px;
  break-inside: avoid;
  opacity: 0.8;
  filter: hue-rotate(270deg);
}

div.boss-sprite {
  z-index: 110;
  position: absolute;
  break-inside: avoid;
  bottom: -55px;
  right: -8px;
}

div#fall{
  right: 4px;
  bottom: 5px;
  animation-name: fall;
  animation-duration: 1s;
}
  @keyframes fall {
    0%  {transform: rotate(20deg) scale(1.0);}
    25%  {transform: rotate(40deg) scale(0.5);}
    50%  {transform: rotate(60deg) scale(0.0);}
    75%  {transform: rotate(80deg) scale(-0.5);}
  }

div#transparent{
  opacity: 0.8;
}

div#spriteFadeIn{
  animation-name: spriteFade;
  animation-duration: 3s;
  opacity: 0.8;
}
  @keyframes spriteFade {
    from { opacity: 0; }
    to   { opacity: 0.8; }
  }

div#powerUp {
  animation-name: rise;
  animation-duration: 1500ms;
}
  @keyframes rise {
    from { margin-bottom: 0;}
    to   { margin-bottom: 30px;}
  }

div#float {
  margin-bottom: 30px;
}





