div#wrap {
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 10%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
div#item-content {
  margin: 10% auto;
  margin-top: 400px;
  width: 70%;
  height: 150px;
  background-color:DarkOrange; 
  border: 3px solid GoldenRod; 
  font-size: 18px;
}

div#header {
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 20px;
}

#item-icon img {
  margin-top: 10px;
  padding-left: 5px;
}

#special-name {
  color: blue;
}
