  @keyframes alert {
  0%  {bottom: 110px; transform: scale(1.0);}
  25%  {bottom: 120px; transform: scale(1.2);}
  50%  {bottom: 110px; transform: scale(1.0);}
  75%  {bottom: 120px; transform: scale(1.2);}
}

@keyframes heat {
  0%  {opacity: 0.3; box-shadow: 0 0 3px yellow;}
  25%  {opacity: 0.6; box-shadow: 0 0 6px yellow;}
  50%  {opacity: 0.3; box-shadow: 0 0 3px yellow;}
  75%  {opacity: 0.6; box-shadow: 0 0 6px yellow;}
  100%  {opacity: 0.3; box-shadow: 0 0 3px yellow;}
}

@keyframes goo {
  0%  {opacity: 0.3;}
  25%  {opacity: 0.6;}
  50%  {opacity: 0.3;}
  75%  {opacity: 0.6;}
  100%  {opacity: 0.3;}
}

@keyframes explode {
  0%  {transform: scale(1.0); opacity: 1.0}
  25%  {transform: scale(1.2); opacity: 0.8}
  50%  {transform: scale(1.4); opacity: 0.6}
  75%  {transform: scale(1.8); opacity: 0.4}
  100%  {transform: scale(2.0); opacity: 0.2;}
}

@keyframes implode {
  0%  {transform: scale(2.0); opacity: 0.2}
  25%  {transform: scale(1.8); opacity: 0.4}
  50%  {transform: scale(1.4); opacity: 0.6}
  75%  {transform: scale(1.2); opacity: 0.8}
  100%  {transform: scale(1.0); opacity: 1.0;}
}

#alert{
  z-index: 500;
  left: 1px;
  position: absolute;
  opacity: 0.6;
  bottom: 110px;
  animation-iteration-count:infinite;
  animation-name: alert;
  animation-duration: 2s;
}

.gradient {
 position: absolute;
 display: block;
 height: 50px;
 width: 50px;
 z-index: 10;
 top: -10px;
 background: rgb(255,255,255);
 background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 93%);
}

.warning {
  z-index: 10;
  position: absolute;
  display: inline-block;
  left:-15px;
  opacity: 0.3;
  width: 50px;
  height: 50px;
  background-color: red;
}

div#warpOff {
  opacity: 0.5;
}

div#lava {
  z-index: 10;
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  top: -10px;
  background-color: orange;
  animation-iteration-count:infinite;
  animation-name: heat;
  animation-duration: 5s;
}

div#lava-cool {
  z-index: 10;
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  opacity: 0.9;
}

div.special-tile {
  z-index: 10;
  position: absolute;
  display: block;
  width: 50px;
  height: 40px;
  background-color: white;
  animation-iteration-count:infinite;
  animation-name: special;
  animation-duration: 5s;
}

@keyframes special {
  0%  {opacity: 0.6;}
  25%  {opacity: 0.9;}
  50%  {opacity: 0.6;}
  75%  {opacity: 0.9;}
  100%  {opacity: 0.6;}
}

div#goo {
  width: 50px;
  height: 50px;
  z-index: 10;
  position: absolute;
  display: block;
  opacity: 0.8;
}

div#tile-overlay {
  width: 50px;
  height: 50px;
  z-index: 10;
  position: absolute;
  display: block;
  opacity: 1;
}

div#lightning {
  z-index: 500;
  position: absolute;
  display: block;
  opacity: 0.8;
}

div#explosion {
  top: -10px;
  z-index: 500;
  opacity: 0;
  position: absolute;
  display: block;
  animation-name: explode;
  animation-duration: 1200ms;
}

div#implosion {
  top: -10px;
  z-index: 500;
  position: absolute;
  display: block;
  animation-name: implode;
  animation-duration: 1200ms;
}

#clone2 {
  opacity: 0.8;
  filter: hue-rotate(150deg);
  z-index: 100;
  position: absolute;
  bottom: 15px;
  right: -13px;
  break-inside: avoid;
}

#clone1 {
  opacity: 0.8;
  filter: hue-rotate(300deg);
  z-index: 100;
  position: absolute;
  bottom: 15px;
  right: -13px;
  break-inside: avoid;
}

.shadow-player {
  height: 20px;
  width: 30px;
  border-radius: 12px;
  background-color: black;
  opacity: 40%;
  z-index: 50;
  position: absolute;
  right: 13px;
  bottom: 20px;
}

.shadow-enemy {
  height: 20px;
  width: 45px;
  border-radius: 12px;
  background-color: black;
  opacity: 40%;
  z-index: 50;
  position: absolute;
  right: 3px;
  bottom: 25px;
}

.shadow-other {
  height: 20px;
  width: 45px;
  border-radius: 12px;
  background-color: black;
  opacity: 40%;
  z-index: 50;
  position: absolute;
  right: 2px;
  bottom: 20px;
}

.machine-shadow {
  height: 20px;
  width: 486px;
  border-radius: 12px;
  background-color: black;
  opacity: 40%;
  z-index: 50;
  position: absolute;
  right: 3px;
  bottom: 20px;
}

.shadow-long {
  height: 20px;
  width: 95px;
  border-radius: 12px;
  background-color: black;
  opacity: 40%;
  z-index: 50;
  position: absolute;
  right: 3px;
  bottom: 25px;
}

.shadow-last {
  height: 20px;
  width: 50px;
  border-radius: 0 12px 12px 0;
  background-color: black;
  opacity: 40%;
  z-index: 50;
  position: absolute;
  right: 3px;
  bottom: 20px;
}

.shadow-first {
  height: 20px;
  width: 45px;
  border-radius: 12px 0 0 12px;
  background-color: black;
  opacity: 40%;
  z-index: 50;
  position: absolute;
  right: 3px;
  bottom: 20px;
}

.shadow-mid {
  height: 20px;
  width: 45px;
  background-color: black;
  opacity: 40%;
  z-index: 50;
  position: absolute;
  right: 0;
  right: 3px;
  bottom: 20px;
}

.big-shadow-first {
  height: 50px;
  width: 45px;
  border-radius: 0 0 0 50px;
  background-color: black;
  opacity: 40%;
  z-index: 50;
  position: absolute;
  right: 3px;
  bottom: 20px;
}

.big-shadow-mid {
  height: 20px;
  width: 55px;
  background-color: black;
  opacity: 40%;
  z-index: 50;
  position: absolute;
  right: 0;
  bottom: 20px;
}

.big-shadow-last {
  height: 50px;
  width: 45px;
  border-radius: 0 0 50px 0;
  background-color: black;
  opacity: 40%;
  z-index: 50;
  position: absolute;
  right: 3px;
  bottom: 20px;
}

.shadow-small {
  height: 18px;
  width: 32px;
  border-radius: 12px;
  background-color: black;
  opacity: 40%;
  z-index: 50;
  position: absolute;
  right: 7px;
  bottom: 25px;
}

.firelight {
  height: 30px;
  width: 60px;
  border-radius: 12px;
  background-color: orange;
  opacity: 40%;
  z-index: 100;
  position: absolute;
  top: -10px;
  left: -10px;
}
