  div#outerMap {
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vw;
    padding-top: 50px;
  }

  .map-box h3 {
    background-color: rgba(25, 65, 175, 0.55);
    color: white;
    padding: 5px;
    margin-top: 0;
  }

  .map-box{
    width: 355px;
    height: 500;
    padding: 5px;
    margin-top: 40px;
    background-color: rgba(72, 12, 121, 0.55);
    margin-left: auto;
    margin-right: auto;
  }

  div#innerMap {
    column-gap: 0px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    height: 476.8px;
    width: 100%;
  }

  #mapKey {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
    color: white;
  }

  .pause-controls{
    margin-left: auto;
    margin-right: auto;
  }

  .pause-character-info{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
  }

  .nav-left{
    float: left;
  }

  .nav-right{
    float: right;
  }

  #arrow-active {
    background-color: rgba(25, 65, 175, 0.65);
    width: 80px;
    padding: 8px;
    color: white;
    width: 90px;
  }

  .map-404 {
    color: slateblue;
  }

  .pause-nav {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .menu-button-prompt-right {
    float: right;
    background-color: royalblue;
    padding-left: 2px;
    padding-right: 2px;
    color: navy;
    font-weight: bold;
  }

  .menu-button-prompt-left {
    float: left;
    background-color: royalblue;
    padding-left: 2px;
    padding-right: 2px;
    color: navy;
    font-weight: bold;
  }
  
