div#outer {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  -webkit-column-count: 12;
  -moz-column-count: 12;
  column-count: 12;
  column-gap: 0;
  width: 600px;
  height: 700px;
  max-height: 700px;
  min-height: 700px;
  max-width: 600px;
  min-width: 600px;
}

div#inner {
  position: relative;
  z-index: 0;
  width: 50px;
  max-width: 50px;
  min-width: 50px;
  height: 50px;
  max-height: 50px;
  min-height: 50px;
  vertical-align: top;
  display: inline-block;
  break-inside: avoid;
}
